.add-transaction-container{
    padding:40px;
}

.transaction-card{
    background:rgba(255,255,255,0.08);
    padding:25px;
    border-radius:20px;
    color:white;
}

.form-group{
    margin-bottom:15px;
}

.form-group input,
.form-group select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
}

.submit-btn{
    background:#00d084;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}